#container {
  font-size: 18px;
}
#container a:hover {
  text-decoration: none;
}
#container p,
#container li {
  line-height: 1.5em;
}
#container p,
#container a {
  color: rgb(0, 128, 128);
}
#container a:hover {
  color: rgb(28, 156, 156);
}

.primary-block,
.secondary-block {
  position: fixed;
  display: table;
}
.primary-block {
  left: 0;
  height: 100%;
  width: 60%;
  padding-left: 10%;
}
.secondary-block {
  right: 0;
  height: 100%;
  width: 20%;
  padding-right: 10%;
  background: rgb(0, 128, 128);
}

.avatar {
  height: 160px;
  width: 160px;
  border-radius: 80px;
}

#content,
#connect {
  display: table-cell;
  vertical-align: middle;
}

#content {
  position: relative;
  min-height: 160px;
}
#content .avatar {
  position: absolute;
  /* For some reason left is not relative to #content in Firefox */
  /* left: 0; */
  top: 50%;
  margin-top: -80px;
}
#content .avatar + #intro {
  margin-left: 180px;
  margin-right: 15px;
}

#connect {
  padding-left: 15px;
}
#connect ul + ul {
  margin-top: 1em;
}
#connect li + li {
  margin-top: 0.1em;
}
#connect,
#connect a {
  color: rgb(230, 230, 230);
}
#connect li:hover,
#connect li:hover a {
  color: rgb(250, 250, 250);
}

/* Width based on the min width before links in secondary-block (sidebar) begin to wrap */
@media all and (max-width: 880px) {
  div.primary-block,
  div.secondary-block {
    position: static;
    display: block;

    padding: 2em;
  }
  .primary-block {
    height: auto;
    width: auto;
    padding: 0;
  }
  .secondary-block {
    height: auto;
    width: auto;
    padding: 0;
  }

  #content,
  #connect {
    display: block;
  }

  #content .avatar {
    position: static;

    display: block;
    margin: 0 auto 1.5em auto;
  }
  #content .avatar + #intro {
    margin: 0;
  }

  #connect {
    padding: 0;
  }
  #connect ul {
    text-align: center;
  }
  #connect li {
    display: inline-block;
  }
  #connect li + li {
    margin-left: 1em;
  }
}

/* Width based on the min width before links in secondary-block (footer) begins to wrap */
@media all and (max-width: 630px) {
  .secondary-block {
    text-align: center;
  }

  #connect {
    display: inline-block;
  }
  #connect ul {
    text-align: left;
  }
  #connect li {
    display: block;
  }
  #connect li + li {
    margin-left: 0;
  }
}
