* {
    -ms-transition:         background .1s linear, color .1s linear;  
    -moz-transition:        background .1s linear, color .1s linear;  
    -webkit-transition:     background .1s linear, color .1s linear;  
    -o-transition:          background .1s linear, color .1s linear;  
    transition:             background .1s linear, color .1s linear;      
}

body {
    background:             rgb(50, 50, 50);
    font-family:            "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:            200;
    font-size:              1.1em;
}
body ::selection {
	background:             rgb(180, 180, 180);
}
body ::-moz-selection {
	background:             rgb(180, 180, 180);
}
strong {
    font-weight:            bold;
}
em {
    font-style:             italic;
}
a {
    color:                  inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-weight:            bold;
}
p {
    margin:                 1em 0;
}

.disabled, .disabled * {
    opacity:                0.5;
    cursor:                 default;
}
.faded {
    font-size:              0.9em;
    opacity:                0.7;
}
.divider {
    margin:                 12px 0;
    width:                  100%;
}
.divider .line {
    height:                 2px;

    background:             rgb(230, 230, 230);
    background:             -ms-linear-gradient(left, rgba(230, 230, 230, 0) 0%, rgba(230, 230, 230, 1) 40%, rgba(230, 230, 230, 1) 60%, rgba(230, 230, 230, 0) 100%);
    background:             -moz-linear-gradient(left, rgba(230, 230, 230, 0) 0%, rgba(230, 230, 230, 1) 40%, rgba(230, 230, 230, 1) 60%, rgba(230, 230, 230, 0) 100%);
    background:             -webkit-linear-gradient(left, rgba(230, 230, 230, 0) 0%, rgba(230, 230, 230, 1) 40%, rgba(230, 230, 230, 1) 60%, rgba(230, 230, 230, 0) 100%);
    background:             -o-linear-gradient(left, rgba(230, 230, 230, 0) 0%, rgba(230, 230, 230, 1) 40%, rgba(230, 230, 230, 1) 60%, rgba(230, 230, 230, 0) 100%);
    background:             linear-gradient(left, rgba(230, 230, 230, 0) 0%, rgba(230, 230, 230, 1) 40%, rgba(230, 230, 230, 1) 60%, rgba(230, 230, 230, 0) 100%);
}
.divider .shadow {
    height:                 1px;

    background:             rgb(0, 0, 0);
    background:             -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    background:             -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    background:             -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    background:             -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    background:             linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
}

#container {
    width:                  800px;
    margin:                 0 auto;
}

#header {
    color:                  rgb(220, 220, 220);
    text-shadow:            -1px -1px rgb(0, 0, 0);
}
#header h1 {
    margin:                 24px 0;
    text-align:             center;
    font-weight:            normal;
	font-size:              100px;
	letter-spacing:         4px;
	text-transform:         uppercase;
}

#menu ul {
    text-align:             center;
}
#menu ul li {
    display:                inline;
	margin:                 0 4px;
}
#menu a {
    padding:                4px 8px;
    font-weight:            normal;

    -ms-border-radius:      2px;
    -moz-border-radius:     2px;
    -webkit-border-radius:  2px;
    -o-border-radius:       2px;
    border-radius:          2px;
}
#menu a:hover {
	background:             rgb(120,120,120);
}

#content {
    margin:                 32px 0;
    padding:                2em 64px;
    color:                  rgb(60, 60, 60);
    background:             rgb(220, 220, 220);
    text-shadow:            1px 1px rgb(255, 255, 255);

    -ms-border-radius:      24px;
    -moz-border-radius:     24px;
    -webkit-border-radius:  24px;
    -o-border-radius:       24px;
    border-radius:          24px;

    -ms-box-shadow:         0 0 12px 2px rgb(0, 0, 0);
    -moz-box-shadow:        0 0 12px 2px rgb(0, 0, 0);
    -webkit-box-shadow:     0 0 12px 2px rgb(0, 0, 0);
    -o-box-shadow:          0 0 12px 2px rgb(0, 0, 0);
    box-shadow:             0 0 12px 2px rgb(0, 0, 0);
}
#content a:hover {
    text-decoration:        underline;
}

#about p {
	text-align:             left;
}

#social {
    text-align:             center;
}
#social_media {
    padding:                6px 12px;
    display:                inline-block;
    background:             rgb(160, 160, 160);

    -ms-border-radius:      6px;
    -moz-border-radius:     6px;
    -webkit-border-radius:  6px;
    -o-border-radius:       6px;
    border-radius:          6px; 

    -ms-box-shadow:         1px 1px 4px 0 rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow:        1px 1px 4px 0 rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow:     1px 1px 4px 0 rgba(0, 0, 0, 0.2) inset;
    -o-box-shadow:          1px 1px 4px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow:             1px 1px 4px 0 rgba(0, 0, 0, 0.2) inset;
}
#social_media a:hover {
    text-decoration:        none;
}
#social_media img {
    height:                 32px;
    width:                  32px;
    margin:                 0 4px;
    vertical-align:         middle;
}

#feeds {
    color:                  rgb(220, 220, 220);
	text-shadow:            -1px -1px rgb(0, 0, 0);
}

#feedHeader {
    padding:                12px 24px;
    color:                  rgb(180, 180, 180);
    background:             rgb(85, 85, 85);
    font-size:              1.2em;
    border-bottom:          2px solid rgb(220, 220, 220);

    -ms-border-radius:      12px 12px 0 0;
    -moz-border-radius:     12px 12px 0 0;
    -webkit-border-radius:  12px 12px 0 0;
    -o-border-radius:       12px 12px 0 0;
    border-radius:          12px 12px 0 0;   

    -ms-box-shadow:         1px 1px 8px 0 rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow:        1px 1px 8px 0 rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow:     1px 1px 8px 0 rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow:          1px 1px 8px 0 rgba(0, 0, 0, 0.4) inset;
    box-shadow:             1px 1px 8px 0 rgba(0, 0, 0, 0.4) inset;
}
#feedHeader p, #feedHeader .activeFeedLink {
    color:                  rgb(220, 220, 220);
    display:                inline;
}
#feedHeader ul {
    float:                  right;
}
#feedHeader li {
    margin:                 0 8px;
    display:                inline;
    list-style:             none;
    cursor:                 pointer;
}
#feedHeader .feedHeaderLink:hover {
    color:                  rgb(220, 220, 220);
}

#feedContent {
    height:                 360px;
    padding:                24px 36px;
    background:             rgb(85, 85, 85);

    -ms-border-radius:      0 0 12px 12px;
    -moz-border-radius:     0 0 12px 12px;
    -webkit-border-radius:  0 0 12px 12px;
    -o-border-radius:       0 0 12px 12px;
    border-radius:          0 0 12px 12px;

    -ms-box-shadow:         1px 1px 8px 0 rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow:        1px 1px 8px 0 rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow:     1px 1px 8px 0 rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow:          1px 1px 8px 0 rgba(0, 0, 0, 0.4) inset;
    box-shadow:             1px 1px 8px 0 rgba(0, 0, 0, 0.4) inset;
}
#feedContent p {
    color:                  rgb(220, 220, 220);
}
#feedContent p.msg {
    text-align:             center;
}
#feedContent li, #feedContent .feed_item {
	margin:                 8px 0;
    padding:                6px 8px;
    background:             rgb(100, 100, 100);

    -ms-border-radius:      6px;
    -moz-border-radius:     6px;
    -webkit-border-radius:  6px;
    -o-border-radius:       6px;
    border-radius:          6px;
}
#feedContent .feed_item {
    cursor:                 pointer;
}
#feedContent li:first-child, #feedContent .feed_item:first-child {
    margin-top:             0;
}
#feedContent li:hover, #feedContent .feed_item:hover {
    background:             rgb(120, 120, 120);
}
#feedContent dd {
    display:                none;
    margin-top:             8px;
    font-size:              0.9em;
}
#twitterFeed, #blogFeed, #webFeed {
    height:                 100%;
    overflow:               hidden;
    display:                none;
}


@media all and (max-device-width: 480px) {
    body {
        font-size:          1.4em;
    }
    #container {
        width:              100%;
        margin:             0;
    }
    #header h1 {
        margin:             4px 6px 12px 6px;
        font-size:          4em;
        letter-spacing:     8px;
    }
    #content {
        padding:            1em 20px 1em 20px;

        -ms-border-radius:      0;
        -moz-border-radius:     0;
        -webkit-border-radius:  0;
        -o-border-radius:       0;
        border-radius:          0;
    }
    #about > p {
        text-align:         justify;
    }
    #social_media {
        padding:            6px;
    }
    #social_media img {
        margin:             0 2px;
    }
    #feeds {
        display:            none;
    }
}
